/* Rodapé */
.main-footer {
    background-color: #222;
    color: var(--cor-texto-claro);
    padding: 3rem 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer-content > div {
    flex: 1;
    margin-right: 2rem;
}

.footer-title, .footer-subtitle {
    margin-bottom: 1rem;
}

.footer-list {
    list-style: none;
}

.footer-item {
    margin-bottom: 0.5rem;
}

.footer-link {
    color: #CCC;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--cor-texto-claro);
}

