.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--cor-texto-claro);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-title {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav .nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--cor-texto-escuro);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--cor-primaria);
}

.header-cta-button {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-cta-button:hover {
    background-color: #FF3333;
}